
Arquivos_Aula/HelloWorld/bin/Debug/net6.0/HelloWorld.deps.json
Arquivos_Aula/HelloWorld/bin/Debug/net6.0/HelloWorld.dll
Arquivos_Aula/HelloWorld/bin/Debug/net6.0/HelloWorld.exe
Arquivos_Aula/HelloWorld/bin/Debug/net6.0/HelloWorld.pdb
Arquivos_Aula/HelloWorld/bin/Debug/net6.0/HelloWorld.runtimeconfig.json
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/apphost.exe
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.AssemblyInfo.cs
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.AssemblyInfoInputs.cache
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.assets.cache
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.csproj.AssemblyReference.cache
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.csproj.CoreCompileInputs.cache
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.csproj.FileListAbsolute.txt
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.dll
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.genruntimeconfig.cache
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.GlobalUsings.g.cs
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/HelloWorld.pdb
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/ref/HelloWorld.dll
Arquivos_Aula/HelloWorld/obj/Debug/net6.0/refint/HelloWorld.dll
Arquivos_Aula/HelloWorld/obj/HelloWorld.csproj.nuget.dgspec.json
Arquivos_Aula/HelloWorld/obj/HelloWorld.csproj.nuget.g.props
Arquivos_Aula/HelloWorld/obj/HelloWorld.csproj.nuget.g.targets
Arquivos_Aula/HelloWorld/obj/project.assets.json
Arquivos_Aula/HelloWorld/obj/project.nuget.cache
