<!--Mistura de c sharp com html-->
@{
    <!--Titulo que fica no topo da página-->
    ViewData["Title"] = "Welcome"; 
}

<!--Nome do titulo dentro da página-->
<h2>Seja Bem Vindo!!!</h2>

<p>Esse é nosso template de um componente de View</p>
